# xcode noise
build/*
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.xccheckout
project.xcworkspace/
xcuserdata/

# old skool
.svn

# osx noise
.DS_Store
profile

# node.js
#
npm-debug.log
node_modules/

# CocoaPods
Pods/

android/.gradle/

android/.idea/

android/build/

android/gradle/

android/gradlew

android/gradlew.bat

android/local.properties

example/android/gradle/wrapper/gradle-wrapper.jar

example/android/gradle/wrapper/gradle-wrapper.properties
